*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
  color: #144031;
  background-color: #fffffe;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  width: 480px;
  margin: 0 auto;
}

h1 {
  padding: 1rem 1rem 1.5rem;
  font-size: .5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #144031;
  color: #fffffe;
}

h2 {
  font-size: 1rem;
  padding-bottom: .8em;
  font-weight: 700;
}

p {
  font-size: .6rem;
  padding-bottom: .5em;
  font-weight: 200px;
}

a {
  font-size: .4rem;
  font-weight: 600;
  color: #144031;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover{
  text-decoration: underline;
}

.section-content{
    display: grid;
    grid-template: repeat(3, 240px) / repeat(2, 240px);
    margin-bottom: 150px;
}

.text1, .text3 {
  padding: 1.5rem 1.5rem 0 1rem;
}

.text2 {
  padding: 1.5rem 1rem 0 1.5rem;
}

.image1 {
  background-color: yellow;
  background-image: url("https://lh4.googleusercontent.com/fqBp3tQBMK-5v9HgSTcZiw49e9vEXewGezI7bdTKTm2B5U41xkbwKfihjXUywdi2GsRKZptYASUdsSxKAKXyQgHlxC3OSi74mJHSSzpP6xHI2XdspukIvIc7SAb7_7rTmGu8aXp3rxgLiDWY9WXtXJ0");
  background-size: cover;
  background-position: center;
}

.image2 {
  background-color: yellow;
  background-image: url("https://studybreaks.com/wp-content/uploads/2021/12/Image-from-iOS-1-2.jpg");
  background-size: cover;
  background-position: center;
}


.image3 {
  background-color: yellow;
  background-image: url("https://preview.redd.it/one-of-the-infamous-liminal-space-photo-locations-recently-v0-1uvs97wgvhub1.jpg?width=640&crop=smart&auto=webp&s=56f708a685540add9838382d15a91cd0bdd1f152");
  background-size: cover;
  background-position: center;
}
